.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
}
.form{
    width: 300px;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 6px #ccc;
    border-radius: 5px;
}
.form-item{
    margin-bottom: 15px;
}
.form-item label{
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 3px;
}
.form-item input{
    padding: 5px;
    width: 100%;
    outline: none;
}

.form-btn{
    width: 100%;
    border: none;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    background-color: #1c0d32;
    text-transform: uppercase;
}